@use "../../../styles/partials/global";

@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/typography" as *;

.card-list {
    margin: 16px;

    &__heading {
        @include subheader-mobile;
        color: $primary-color--silver;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 16px;
    }

    @media only screen and (min-width: $tablet-breakpoint) {
        margin: 24px 36px 36px 36px;
    }

    @media only screen and (min-width: $desktop-breakpoint) {
        margin: 24px 36px 36px 36px;
        border-left: 1px solid $secondary-color--mercury;
        padding-left: 24px;
    }

}