@use "../../../styles/partials/global";

@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/typography" as *;


.card {
    @include body-copy-mobile;

    margin: 1rem 0;
    display: flex;

    &__image {
        width: 38%;
        height: 100%;
        border-radius: 4px;
    }

    &__copy {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        justify-content: space-between;
    }

    &__title {
        font-weight: 600;
    }


    @media only screen and (min-width: $tablet-breakpoint) {
        @include body-copy;

        &__image {
            width: 15vw;
        }

        &__copy {
            width: 24vw;
        }
    }

    @media only screen and (min-width: $desktop-breakpoint) {
        margin: 0;
        padding: 0.75rem 0;

        &__image {
            width: 10vw;
        }

        &__copy {
            width: 20vw;
        }
    }

}