@use "./variables" as *;
@use "./mixins" as *;

* {
    padding: 0;
    margin: 0;
    font-family: 'Avenir', 'sans‑serif';
}

button:hover {
    background-color: $secondary-color--darkblue;
}

.noHover {
    pointer-events: none;
}
