$primary-color--black: #323232;
$primary-color--blue: #0095FF;
$primary-color--silver: #AFAFAF;
$primary-color--white: #FFFFFF;
$secondary-color--darkblack: #000000;
$secondary-color--darkblue: #0065AD;
$secondary-color--mercury: #E1E1E1;
$secondary-color--alabaster: #FAFAFA;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;