@use "../../../styles/partials/global";

@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/typography" as *;

li {
    list-style-type: none;
}

.reviews {
    @include body-copy-mobile;
    color: $primary-color--black;
    border-top: 1px solid $secondary-color--mercury;
    margin: 16px 16px;
    display: flex;
    flex-direction: column;

    &__section {
        border-bottom: 1px solid $secondary-color--mercury;
        display: flex;
        flex-direction: row;
    }

    &__avatar-container {
        min-width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        background-color: $secondary-color--mercury;
        margin: 1rem 1rem 0 0;
    }

    &__data {
        display: flex;
        flex-direction: column;
    }

    &__top {
        margin: 16px 0;
        display: flex;
        justify-content: space-between;
    }

    &__name {
        font-weight: 600;
    }

    &__date {
      color: $primary-color--silver;
    }


    &__comment {
        margin-bottom: 16px;
    }

    @media only screen and (min-width: $tablet-breakpoint) {
        @include body-copy;
        margin: 24px 36px;
    
        &__section {
            
        }
    
        &__avatar-container {
            min-width: 40px;
            height: 40px;
            margin: 24px 24px 0 0;
        }
    
        &__data {
        }
    
        &__top {
            margin: 24px 0 4px;
        }
    
        &__name {
            font-weight: 600;
        }
    
        &__date {
        }
    
        &__comment {
            margin-bottom: 24px;
        }
    }

    @media only screen and (min-width: $desktop-breakpoint) {
        margin: 24px 0 0 9.375rem;

        &__data {
            margin: 0 24px 0 0;
        }
    }

}


