@use "../../../styles/partials/global";

@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/typography" as *;

li {
    list-style-type: none;
}

.reviews {
    @include body-copy-mobile;
    color: $primary-color--black;
    border-top: 0.0625rem solid $secondary-color--mercury;
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;

    &__section {
        border-bottom: 0.0625rem solid $secondary-color--mercury;
        display: flex;
    }

    &__avatar-container {
        min-width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        background-color: $secondary-color--mercury;
        margin: 1rem 1rem 0 0;
    }

    &__data {
        display: flex;
        flex-direction: column;
        width: -webkit-fill-available;
    }

    &__top {
        margin: 1rem 0;
        display: flex;
        justify-content: space-between;
    }

    &__name {
        font-weight: 600;
    }

    &__date {
        color: $primary-color--silver;
    }


    &__comment {
        margin-bottom: 1rem;
    }

    @media only screen and (min-width: $tablet-breakpoint) {
        @include body-copy;
        margin: 1.5rem 2.25rem;

        &__avatar-container {
            min-width: 2.5rem;
            height: 2.5rem;
            margin: 1.5rem 1.5rem 0 0;
        }

        &__top {
            margin: 1.5rem 0 0.25rem;
        }

        &__comment {
            margin-bottom: 1.5rem;
        }
    }

    @media only screen and (min-width: $desktop-breakpoint) {
        margin: 1.5rem 0 0 0;
        border-top: none;

        &__data {
            margin: 0 1.5rem 0 0;
        }

        &__section {
            border-top: 0.0625rem solid $secondary-color--mercury;
            border-bottom: none;
        }
    }

}