@use "../../../styles/partials/global";

@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/typography" as *;


.navbar {
    display: flex;
    flex-direction: column;
    margin: 1rem;

    &__logo-container {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

    &__logo {
        height: 1.5625rem;
        width: 7.5rem;
    }

    &__features {
        display: flex;
        flex-direction: column;
    }

    &__search-bar {
        height: 2.25rem;
        border-radius: 0.25rem;
        border: 0.0625rem solid $secondary-color--mercury;
        background-image: url('../../assets/icons/search.svg');
        background-repeat: no-repeat;
        background-position: 0.75rem 50%;
        background-size: 1rem;
        background-color: $secondary-color--alabaster;
        color: $primary-color--black;
        padding-left: 2.625rem;
        margin-right: 3.25rem;
        @include body-copy-mobile;
    }

    &__search-button {
        height: 2.5rem;
        border-radius: 0.25rem;
        background-color: $primary-color--blue;
        color: $primary-color--white;
        border: none;
        background-image: url('../../assets/icons/upload.svg');
        background-repeat: no-repeat;
        background-position: 0.75rem 50%;
        background-size: 1.25rem;
        text-transform: uppercase;
        @include labels-buttons-mobile;
        font-size: 0.75rem;
        font-weight: 600;
        margin-top: 1rem;
    }

    &__profile {
        display: flex;
        min-width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        right: 1rem;
    }

    &__profile-picture {
        width: 3.0625rem;
        height: 2.5rem;
        position: absolute;
    }

    @media only screen and (min-width: $tablet-breakpoint) {
        margin: 1.5rem 2.25rem;
        flex-direction: row;
        align-items: center;

        &__logo-container {
            margin-bottom: 0;
        }

        &__features {
            flex-direction: row;
            width: -webkit-fill-available;
            align-items: center;
            justify-content: flex-end;
        }

        &__search-bar {
            margin-right: 1.5rem;
            height: 2.5rem;
            width: 15.125rem;
            @include body-copy;
        }

        &__search-button {
            margin: 0 1.5rem 0 0;
            width: 9.375rem;
            @include labels-buttons;
            font-weight: 600;
        }

        &__profile {
            position: relative;
            min-width: 2.5rem;
            height: 2.5rem;
            right: -0.0625rem;
        }
    }

    @media only screen and (min-width: $desktop-breakpoint) {
        margin: 1.5rem 9.375rem;
    }
}

input[type=text] {
    @include body-copy-mobile;
    color: $primary-color--black;

    @media only screen and (min-width: $tablet-breakpoint) {
        @include body-copy;
        box-sizing: border-box;
        padding-left: 2.25rem;
    }
}

input::placeholder {
    @include body-copy-mobile;
    color: $primary-color--black;

    @media only screen and (min-width: $tablet-breakpoint) {
        @include body-copy;
    }
}

input[type=text]:focus {
    border: 0.125rem solid $primary-color--blue;
    outline: none;
}