@use "../../../styles/partials/global";

@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/typography" as *;

.comments-form {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    @include body-copy-mobile;

    &__heading {
        font-weight: 600;
        margin-bottom: 1rem;
    }

    &__section {
        display: flex;
    }

    &__avatar-container {
        min-width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        margin: 1.375rem 1rem 0 0;
        overflow: hidden;
        position: relative;
    }

    &__avatar {
        width: 3.0625rem;
        height: 2.5rem;
        background-size: cover;
        position: absolute;
    }

    &__new-entry {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__field {
        display: flex;
        flex-direction: column;
    }

    &__field-name {
        @include labels-buttons-mobile;
        color: $primary-color--silver;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 0.25rem;
    }

    &__field-area {
        height: 4.375rem;
        background-color: $secondary-color--alabaster;
        border: 0.0625rem solid $secondary-color--mercury;
        border-radius: 0.25rem;
    }

    &__submit {
        margin-top: 1rem;
    }

    &__button {
        height: 2.5rem;
        width: 100%;
        background-color: $primary-color--blue;
        border: none;
        color: $primary-color--white;
        border-radius: 0.25rem;
        background-image: url('../../assets/icons/add_comment.svg');
        background-repeat: no-repeat;
        background-position: 0.75rem 50%;
        background-size: 1rem;
        text-transform: uppercase;
        @include labels-buttons-mobile;
        font-size: 0.8125rem;
        font-weight: 600;
    }

    @media only screen and (min-width: $tablet-breakpoint) {
        margin: 0 2.25rem;
        @include body-copy;

        &__heading {
            margin-bottom: 1.5rem;
        }

        &__section {
            align-items: center;
        }

        &__avatar-container {
            min-width: 2.5rem;
            height: 2.5rem;
            margin: 1.375rem 1.5rem 0 0;
        }

        &__new-entry {
            flex-direction: row;
        }

        &__field {
            margin-right: 1.5rem;
            width: 100%;
        }

        &__field-name {
            @include labels-buttons;
            font-weight: 600;
        }

        &__field-area {
            height: 2.5rem;
            width: 100%;
            box-sizing: border-box;
        }

        &__submit {
            margin-top: 1.5rem;
        }

        &__button {
            width: 9.375rem;
            @include labels-buttons;
            font-weight: 600;
        }
    }

    @media only screen and (min-width: $desktop-breakpoint) {
        margin: 0 1.5rem 0 0;

        &__heading {
            margin-top: 1.5rem;
        }
    }
}

textarea[type="text"] {
    @include body-copy-mobile;
    color: $primary-color--black;
    padding: 0.75rem;

    @media only screen and (min-width: $tablet-breakpoint) {
        @include body-copy;
        box-sizing: border-box;
        padding: 0.375rem 0 0.375rem 1rem;
    }
}

textarea::placeholder {
    @include body-copy-mobile;
    color: $primary-color--black;
    transform: translateY(10%);

    @media only screen and (min-width: $tablet-breakpoint) {
        @include body-copy;
        transform: translateY(10%);
    }
}

textarea[type=text]:focus {
    border: 0.125rem solid $primary-color--blue;
    outline: none;
}